@import './root.css';
@import './fonts/PRISTINA/font_pristina.css';
@import './fonts/Jacques_Francois/font_jacques_Francois.css';
@import './fonts/pretendard/pretendard.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular', 'JacquesFrancois-Regular', 'PRISTINA';
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
ul,
ol {
  list-style-type: none;
}
html {
  font-size: 10px;
}
img {
  vertical-align: bottom;
  border: none;
}
button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
}
input[type='checkbox'] {
  cursor: pointer;
}

.max-width-1280px {
  width: 1280px;
  margin: 0 auto;
}
.MainAdmin {
  height: auto;
  min-height: calc(100vh - 70px);
  width: calc(100% - 200px);
  margin: 70px 0 0 200px;
  padding: 10px 10px 0 10px;
  background-color: var(--color-main-Lgray);
  transition: all 0.3s;
}
#AdminNav {
  position: fixed;
  left: 0;
  width: 200px;
  height: calc(100vh - 70px);
  /* background-color: var(--color-main-pink); */
  background-color: #fdf4f1  ;
  font-size: 1.6rem;
  transition: all 0.3s;
}
@media (max-width: 1000px) {
  .MainAdmin {
    min-height: calc(100vh - 70px);
    max-width: calc(100% - 43px);
    width: 100%;
    margin: 70px 0 0 43px;
    transition: all 0.3s;
  }
  #AdminNav {
    width: 43px;
    transition: all 0.3s ease;
  }
  #AdminNav:hover {
    width: 150px;
  }
  .expanded {
    min-height: calc(100% - 70px);
    width: calc(100% - 150px);
    margin: 70px 0 0 150px;
  }
}
/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
} */
