/* color palette from <https://github.com/vuejs/theme> */

/* semantic color variables for this project */
:root {
  --color-main-bloode: rgb(96, 0, 0);
  --color-main-red: rgb(147, 33, 33);
  --color-main-gray: rgb(222, 222, 222);
  --color-main-Lgray: rgb(237, 237, 237);
  --color-text-gray: rgb(153, 153, 153);
  --color-purewhite: rgb(255, 255, 255);
  --color-pureblack: rgb(0, 0, 0);
}
